{% extends 'SProvider/Header.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style12 {color: #FFFF00; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">View Found Detection Type Details in Ecommerce Transaction Found   !!! </p>
                            <hr>
                            <div class="tweettext">
                               <table border="5" bordercolor="#FF00FF">


                                   <tr>
									   
									   <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Order_ID</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">PDate</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Status</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Fulfilment</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Sales_Channel</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">ship_service_level</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Style</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">SKU</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Category</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">PSize</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">ASIN</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Qty</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">currency</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Amount</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">payment_by</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">ship_city</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">ship_state</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">ship_postal_code</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">ship_country</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">prediction</span></div></td>
									   

                      </tr>
                            {% for object in list_objects %}
                      <tr>
					
					<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Order_ID}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.PDate}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Status}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Fulfilment}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Sales_Channel }}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.ship_service_level}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Style}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.SKU}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Category}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.PSize}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.ASIN}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Qty}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.currency}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Amount}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.payment_by}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.ship_city}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.ship_state}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.ship_postal_code}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.ship_country}}</td>
 <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Prediction}}</td>
					
					
                        </tr>

                                        {% endfor %}
                      </table>

                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>